@{
    ViewBag.Title = "A Little About Register Gadget";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Register Gadget was built to solve a problem.  For years event organizers have struggled with managing event registration, 
    funding, messaging, participation and reporting.  Originally Register Gadget was intended to solve just the registration challenge,
    but it quickly became evident that an integrated system for event management could solve so many more challenges.</p>

<p>Today Register Gadget is a framework for creating events, soliciting support and participation and providing a social environment 
    for participants to communicate</p>

<p>Our goals include helping defray event costs through shared revenue and incorporating sponsorship.  We want to make it easier to host 
    events so communities can drive participation and grow!  Let us know how we can help your community.</p>
