@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@registergadget.com">Support@registergadget.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@registergadget.com">Marketing@registergadget.com</a><br /><br />

    <strong>Gibberin:</strong> <a href="http://app.gibberin.com/apage/registergadget">registergadget</a>
</address>