@{
    ViewBag.Title = "Register Gadget Home";
}

<div class="jumbotron">
    <h1>Let's get going!</h1>
    <p class="lead">Drive participation in your events</p>
    <p><a href="~/Account/Register" class="btn btn-primary btn-large">Get started...</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p>
            Create your RegisterGadget account
        </p>
        <p><a class="btn btn-default" href="~/Account/Register">Create a free account...</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create an event</h2>
        <p>Set up an event, promote it, invite sponsors</p>
    </div>
    <div class="col-md-4">
        <h2>Drive participation</h2>
        <p>Build awareness for your event, drive registrations, encourage social networking before and after to build reputation</p>
    </div>
</div>